$light-purple: #F2E0FF;
$transparent-purple: rgba(242,224,255,0.2);
$transparent-gray-purple: rgba(121,112,127,0.2);
$transparent-dark-purple: rgba(105,74,127,0.2);


$purple: #D293FF;
$dark-purple: #A876CC;
$darker-purple: #694A7F;

$gray-purple: #79707F;
$light-gray-purple: #F9F0FF;

$shallow-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
