html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
}

div {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: $gray-purple;
  padding: 16px;
  width: 100%;
  box-shadow: $shallow-shadow;

  h1 {
    display: block;
  }

  div {
    display: block;
    width: auto;
    i {
      color: white;
    }
    ul {
      position: absolute;
      box-sizing: border-box;
      width: 160px;
      padding: 0;
      left: -152px;
      border-radius: 16px 2px 16px 16px;
      background-color: white;
      max-height: 0;
      display: block;
      overflow: hidden;
      transition: 0.5s;

      li {
        padding: 16px;
      }

      &:hover {
        height: auto;
        max-height: 1000px;
        box-shadow: $shallow-shadow;
      }
    }

    &:hover {
      cursor: pointer;
      ul {
        height: auto;
        max-height: 1000px;
        box-shadow: $shallow-shadow;
      }
    }
  }
}

h1, h2, h3 {
  font-family: $title;
  font-weight: 700;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

p, label, input, a, li {
  font-family: $body;
}

label {
  display: block;
}

button, input[type='submit'] {
  width: 100px;
  border: none;
  border-bottom: 2px solid $darker-purple;
  border-radius: 8px;
  background-color: $dark-purple;
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px 0;
  color: white;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s background-color;

  &:hover {
    cursor: pointer;
    background-color: $purple;
  }
  &:active {
    border: none;
    margin-top: 10px;
  }
  &:focus {
    outline: none;
  }
}

input[type='text'], input[type='password'] {
  margin: 8px;
  min-width: 150px;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid $gray-purple;
  transition: 0.2s;

  &:focus {
    outline: none;
    background-color: white;
    border: 1px solid $dark-purple;
  }

  &:hover {
    border: 1px solid $dark-purple;
  }
}

a {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: $dark-purple;

  &:hover {
    color: $purple;
  }
}
