.chat-window {
  display: flex;
}

.messages {
  box-sizing: border-box;
  background-color: $light-purple;
  width: 100%;
  padding: 104px 32px 80px 32px;
  overflow: auto;
}

.chat-message {
  box-sizing: border-box;
  position: relative;
  background-color: $light-gray-purple;
  width: auto;
  min-height: 80px;
  height: auto;
  padding: 16px;
  border-bottom: 1px solid $transparent-dark-purple;
  margin-bottom: 8px;
  word-wrap: break-word;
  white-space: normal;

  h4{
    color: $darker-purple;
    margin-bottom: 8px;
  }
  p, a {
    margin-left: 16px;
    margin-bottom: 8px;
    line-height: 24px;
  }
  h5 {
    float: right;
    font-size: 12px;
    font-style: italic;
    color: $gray-purple;
  }
  .giphy {
    margin-left: 16px;
    border-left: 4px solid $transparent-gray-purple;
    border-radius: 4px;
    padding: 8px;
    p {
      font-size: 12px;
      margin-left: 0;
      color: $gray-purple;
    }
    a {
      margin-left: 0;
    }
  }
}
