.ReactModalPortal {
  height: auto;
  width: auto;
}

.modal-content {
  top: 25%;
  left: 50%;
  right: auto;
  bottom: auto;
  height: 500px;
  width: 500px;
  transform: translate(-50%, -25%);
  background-color: white;
  transition: 0.2s;
  outline: none;
  padding: 64px;
  border-radius: 16px;
  border: 1px solid $transparent-dark-purple;

  ul {
    height: 436px;
    overflow: auto;
  }

  h2 {
    color: black;
    margin-left: 8px;
  }

  li {
    padding: 16px;
    border: 1px solid $transparent-gray-purple;
    border-radius: 4px;
    margin: 8px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background-color: $transparent-dark-purple;
    }

    &:active {
      background-color: $dark-purple;
    }
  }

  input[type='text'] {
    width: 300px;
  }

  p {
    font-size: 12px;
    float: right;
    color: $gray-purple;
  }
}

ul.selected-users {
  display: flex;
  height: auto;
  overflow: auto;

  li {
    width: auto;
    font-size: 12px;
    padding: 8px;
    white-space: nowrap;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9000;
  transition: 0.2s;
}
