.ReactModalPortal {
  height: auto;
  width: auto;
}

.modal-content {
  top: 25%;
  left: 50%;
  right: auto;
  bottom: auto;
  height: 300px;
  width: 500px;
  transform: translate(-50%, -25%);
  background-color: white;
  transition: 0.2s;
  outline: none;
  padding: 64px;
  h2 {
    color: black;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9000;
  transition: 0.2s;
}
