nav {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: $gray-purple;
  padding: 16px;
  width: 100%;
  box-shadow: $shallow-shadow;
  height: 80px;

  h1 {
    display: block;
  }

  input[type='text'] {
    background-color: white;
    width: 200px;
    margin-right: 32px;
  }

  i {
    color: white;
  }

  div {
    display: flex;
    align-items: center;
    width: auto;
  }

  label {
    i {
      position: absolute;
      color: $dark-purple;
      top: 32px;
      left: 200px;
    }
  }
}

aside {
  ul {
    position: absolute;
    box-sizing: border-box;
    width: 160px;
    padding: 0;
    top: 50px;
    right: 2px;
    border-radius: 16px 2px 16px 16px;
    background-color: white;
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: 0.5s all linear;

    li {
      padding: 16px;
    }

  }

  &:hover {
    cursor: pointer;
  }

}

.visible {
  height: auto;
  max-height: 1000px;
  box-shadow: $shallow-shadow;
}
