.text-entry {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 80px;
  background-color: $light-purple;
  width: 80%;
  margin-left: 20%;
  padding: 12px;

  input[type='text'] {
    font-size: 16px;
    background-color: white;
    width: 90%;
  }
}
